* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: lavender;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 5vw;
}

body header {
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    width: 100%;
    margin: auto;
    background-color: seagreen;
}

body main {
    width: 80%;
    margin: auto;
    background-color: lightgreen;
}

body footer {
    width: 80%;
    margin: auto;
    background-color: lightgreen;
}

body footer a {
    text-decoration: none;
}

article {
    min-height: 100px;
    min-width: 200px;
    max-width: 300px;
}

article::before {
    content: '';

}

.drinkitems {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}